.footer__column-link {
  list-style: none;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: white;
  line-height: 18px;
  font-size: 18px;
  transition: opacity .5s ease;
}

.footer__column-link:hover {
  opacity: .5;
}

.footer__column-link:last-child{
  margin-bottom: 0;
}
