.khan__buy-link {
  line-height: 42px;
  display: block;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  position: relative;
  transition: opacity .5s ease;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
